/*
Kinghippo CSS
soley written by Mark McCartney
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  background-color: rgba(0, 0, 0, 1);

  font-family: "Roboto", sans-serif;
  margin: 5%;
}

body,
a {
  color: rgba(255, 255, 255, 1);
}
